{% extends "base.html" %}
{% load static i18n compress %}

{% block title %}The Walk Up Effect - Donate{% endblock title %}


<!-- prettier-ignore -->
{% block content %}

  <!-- HEADER -->
  <section class="mt-n11 pt-12 pb-4 pt-md-14 bg-black bg-pattern-2">
    <div class="container pb-10">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 text-center">
        <h1
            class="display-2 fw-bold text-white section-header"
          >
            <span class="zap-03">Thank You</span> for Visiting Our Donation Page!
          </h1>
          <p
            class="lead text-gray-500 mb-6 mx-auto"
          >
           You are here because you know someone who is participating in  <br/>
            <span class="text-primary"><i>The Walk Up Effect</i></span> event at their school.
          </p>
        </div>
      </div>
    </div>

    <!-- Scroll to Next Section Trigger -->
    <div class="position-absolute right-0 left-0">
      <!-- Divider -->
      <div class="bg-dark">
        <div
          class="container border-top border-gray-800"
          style="z-index: auto"
        ></div>
      </div>
      <!-- Button -->
      <div class="position-absolute center">
        <a
          class="btn btn-light btn-rounded-circle lift"
          data-scroll
          aria-label="scroll-to-next"
          href="#payment"
        >
          <i class="fe fe-arrow-down"></i>
        </a>
      </div>
    </div>

  </section>

    <!-- LOCATION -->
    <section class="pt-8 pt-md-12 pb-14 bg-gradient-dark-black">
      <div class="container">
        <div class="row" id="payment">

          <div class="col-12 col-md-6 col-lg-5 pe-md-6">
            <div class="position-relative d-md-block">

             <!-- Card -->
              <div class="card shadow-lg mb-6 mb-md-0"
                   data-aos="fade-up"
                   data-aos-delay="75"
              >
                <div class="card-body">
                  <!-- Preheading -->
                  <div class="text-center mb-6">
                    <span class="badge rounded-pill bg-primary-soft">
                      <span class="h6 text-uppercase text-gray-700">Payment Information</span>
                    </span>
                  </div>
                    <!-- Form -->
                    {% include 'donations/payment_form.html' %}
                  </div>
                </div>

            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-7 ps-md-6"  {# offset-lg-1#}
               data-aos="fade-up"
               data-aos-delay="100"
            >


            <div class="row row-lh" >

            <!-- Heading -->
            <h2 class="text-white">
              Your donation...<br>
              <span class="text-primary">
                <span data-typed='{"strings": ["goes directly to the cause", "helps continue our mission", "helps make an impact in your community"]}'></span>.
              </span>
            </h2>

           </div>
            <!-- Text -->
            <p class="fs-lg text-gray-700 mb-4">
              The Walk Up Effect is a program that travels to schools and
              educates students on mental health and inspires students to be the help and share
              this donation page to provide hope and healing to those who need it.
            </p>

            <!-- Info -->
            <p class="fs-lg text-gray-700 mb-2">With your donation we are able to provide:</p>
            <div class="fs-lg text-gray-700 d-flex">
              <ol>
                <li class="mb-1">Schools with amazing speakers to talk about mental health and empowering stories of
                  overcoming mental health struggles such as child hood trauma to suicidal thoughts.
                </li>
                <li class="mb-1">Surrounding communities with amazing events.</li>
                <li class="mb-1"> Struggling individuals with much needed support.</li>
              </ol>
            </div>

          </div>

        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

{% endblock content %}
