<div
  class="modal fade"
  id="modalChange"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalChangeTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Close -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>

        <!-- Image -->
        <div class="text-center">
          <div class="icon-circle bg-light text-white mb-2">
            <div class="img-fluid w-75 svg-shim mx-auto">
              {% include 'partials/icons/artwork/change.svg' %}
            </div>
          </div>
        </div>

        <!-- Heading -->
        <h2
          class="fw-bold text-center mb-1 text-uppercase"
          id="modalChangeTitle"
        >
          Change
        </h2>

        <!-- Text -->
        <p
          class="fs-md text-center text-gray-700 mb-2 mb-md-4 pb-4 border-bottom"
        >
          Our mission is to change the way everyone perceives mental health.
        </p>

        <div class="row">
          <div class="col-12">
            <p class="mb-4 text-gray-700">
              We want to normalize the conversation behind mental health,
              encourage people to walk up, and empower individuals to speak up.
              We believe by sticking to our mission daily, we will be able to
              change the lives of many students and provide them the daily hope
              they need.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
