{% load static i18n compress %}

<div
  class="modal fade"
  id="modalEducate"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalEducateTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Close -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>

        <!-- Image -->
        <div class="text-center">
          <div class="icon-circle bg-light text-white mb-2">
            <div class="img-fluid w-75 svg-shim mx-auto">
              {% include 'partials/icons/artwork/educate.svg' %}
            </div>
          </div>
        </div>

        <!-- Heading -->
        <h2
          class="fw-bold text-center mb-1 text-uppercase"
          id="modalEducateTitle"
        >
          Educate
        </h2>

        <!-- Text -->
        <p
          class="fs-md text-center text-gray-700 mb-2 mb-md-4 pb-4 border-bottom"
        >
          Throughout our program, students and staff will be educated on all
          things mental health.
        </p>

        <div class="row">
          <div class="col-12">
            <h3 class="mb-4">
              What are
              <span
                class="text-primary"
                data-typed='{"strings": [
                  "the different types of mental illness?",
                  "the causes of mental illness?",
                  "ways to cope with mental illness?"
                  ]}'
              ></span>
            </h3>

            <p class="mb-0 text-gray-700">
              These are all things that are very important for everyone to
              understand to make sure that everyone is on the same page and
              everyone can recognize the symptoms of someone who may be
              struggling.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
