<div
  class="modal fade"
  id="modalInspire"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalInspireTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Close -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>

        <!-- Image -->
        <div class="text-center">
          <div class="icon-circle bg-light text-white mb-2">
            <div class="img-fluid w-75 svg-shim mx-auto">
              {% include 'partials/icons/artwork/inspire.svg' %}
            </div>
          </div>
        </div>

        <!-- Heading -->
        <h2
          class="fw-bold text-center mb-1 text-uppercase"
          id="modalInspireTitle"
        >
          Inspire
        </h2>

        <!-- Text -->
        <p
          class="fs-md text-center text-gray-700 mb-2 mb-md-4 pb-4 border-bottom"
        >
          The main goal of this program is to encourage and inspire individuals
          to <i>Walk Up</i>.
        </p>

        <div class="row">
          <div class="col-12">
            <h3 class="mb-4"><i>Walk Up</i> means to have the courage to...</h3>

            <ul class="mb-0 text-gray-700">
              <li class="mb-2">
                Walk up to someone who you see that may be struggling and offer
                support.
              </li>
              <li>
                Walk up to someone and ask for support if you are struggling
                with your mental health and well-being.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
