<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static i18n compress %}
{% block title %}Our Team{% endblock title %}

{% block content %}
<!-- HEADER -->
<section class="mt-n11 pt-12 pb-4 pt-md-14 bg-black bg-pattern-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 text-center">
        <h1
          class="display-2 fw-bold text-white section-header"
          data-aos="fade-up"
          data-aos-delay="50"
        >
          Our <span class="zap-03">Awesome</span> Team
        </h1>
        <p
          class="lead text-gray-500 mb-6 mx-auto"
          data-aos="fade-up"
          data-aos-delay="100"
          style="max-width: 500px"
        >
          Mission Driven. Story Tellers. Hope Providers.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- TEAM BIO - BRANDO -->
<section class="bg-gradient-dark-black">
  <div class="container">
    <div class="row justify-content-between">
      <div
        class="col-12 col-md-5 position-md-sticky d-flex align-items-center vh-md-90"
        style="top: 0"
      >
        <!-- Sidebar -->
        <aside class="py-5 py-md-10" data-aos="fade-right">
          <!-- Brand -->
          <h2 class="section-header mb-0 text-white">Brandon Gross</h2>
          <!-- Text -->
          <h6 class="fs-5 text-uppercase mb-4 text-muted">Founder & CEO</h6>

          <a
            class="d-block"
            data-bigpicture='{"imgSrc": "{% static 'bundle/images/avatars/team-brando.jpg' %}" }'
            href="#"
          >
            <img
              class="img-fluid"
              src="{% static 'bundle/images/avatars/team-brando-alt.png' %}"
              alt="..."
              height="641"
              width="526"
            />
          </a>
        </aside>
      </div>
      <div class="col-12 col-md-6" data-aos="fade-left" data-aos-delay="50">
        <section class="pb-8 pt-md-12 pb-md-10">
          <!-- Text -->
          <p class="fs-4 text-muted mb-6">
            Brandon was born and raised in Southern California, where he quickly
            developed a love of sports and water. At a young age, Brandon jumped
            into the sport of water polo and quickly fell in love with the game.
          </p>

          <p class="fs-4 text-muted mb-6">
            Fast forward several years, Brandon is playing college water polo at
            California Lutheran University in Thousand Oaks, CA. During his time
            in college, Brandon decided to give coaching a shot which led to a
            new passion... teaching!
          </p>

          <p class="fs-lg text-muted mb-6">
            Upon graduation, he jumped into the education world and became a
            7th-grade algebra teacher and athletic director. After a few years
            of teaching, Brandon took a job as a director at Apex Leadership Co.
            Apex is a company that contracts with schools throughout the United
            States to teach a unique program focused on valuable leadership
            skills for students. Additionally, Apex Leadership offers a service
            that utilizes its staff and the students who have taken the
            leadership course, to assist the school in raising contributions
            from the families and community for the school.
          </p>
          <p class="fs-lg text-muted mb-6">
            Brandon has a love for helping others be their best selves and reach
            their full potential. While on his honeymoon, Brandon received the
            heartbreaking news of a mass shooting at a bar in the town he
            attended college. This news led Brandon to develop the idea of
            <span class="text-white zap-02 text-nowrap"
              >The Walk Up Effect.</span
            >
          </p>
          <p class="fs-lg text-muted">
            Brandon brings the vision behind the company that will help provide
            the youth with the resources and strength they need to overcome
            mental health struggles.
          </p>
        </section>
      </div>
    </div>
  </div>
</section>

<!-- TEAM BIO - TREVOR -->
<section class="bg-black">
  <div class="container">
    <div class="row justify-content-between">
      <div
        class="col-12 col-md-6 order-2 order-md-1"
        data-aos="fade-left"
        data-aos-delay="50"
      >
        <section class="pb-8 pt-md-12 pb-md-10">
          <!-- Text -->
          <p class="fs-4 text-muted mb-6">
            Trevor was born in Seattle, Washington but grew up most of his life
            in a small, central California farm town. Growing up, he not only
            had a strong passion for playing sports but also music, which led
            him to learn how to play the drums. Although he played basketball
            and did Track & Field, football is where he truly shined and became
            most passionate eventually leading him to play at the college level
            at California Lutheran University in Thousand Oaks, CA.
          </p>
          <p class="fs-4 text-muted mb-6">
            During his time in college, he got linked up with an incredible
            organization called Apex Leadership Company, in which he now co-owns
            and operates, serving elementary and middle school all over the
            greater Los Angeles and Orange County area.
          </p>
          <p class="fs-lg text-muted mb-6">
            Apex Leadership Co. brings young, energetic individuals (many
            ex-college athletes) who are passionate about empowering youth onto
            school campuses and teaches students impactful leadership lessons,
            helps them develop positive character attributes, and raises the
            school much-needed funds.
          </p>
          <p class="fs-lg text-muted mb-6">
            Trevor is the oldest of 5 siblings whose mother has been taking in
            foster children through the foster care system for the last 15
            years. To say he has had a strong heart for young people is an
            understatement as he has been involved in children's lives who have
            been in the most unimaginable and tragic of circumstances.
          </p>
          <p class="fs-lg text-muted mb-6">
            For Trevor, that fire for young people burns stronger now than ever
            knowing there are so many young people struggling with mental
            health, including family members. Like Brandon, Trevor too was
            devastated and touched in a major way after receiving the news of
            the locally-known Thousand Oaks establishment, Borderline Bar and
            Grill, being the site of a mass shooting. Having friends that were
            present during this tragedy and losing a couple of classmates was
            something they never thought they'd experience.
          </p>
          <p class="fs-lg text-muted">
            With
            <span class="text-white zap-06 text-nowrap">The Walk Up Effect</span
            >, Trevor hopes to bring awareness to mental health in young people,
            educate them on how they can help their peers and, provide those
            struggling with the resources to overcome, and in turn, live a
            fulfilled life.
          </p>
        </section>
      </div>
      <div
        class="col-12 col-md-5 order-1 order-md-2 position-md-sticky d-flex align-items-center vh-md-90"
        style="top: 0"
      >
        <!-- Sidebar -->
        <aside class="py-8 py-md-10" data-aos="fade-right">
          <h2 class="section-header mb-0 text-white">Trevor Price</h2>
          <!-- Text -->
          <h6 class="fs-5 text-uppercase mb-4 text-muted">
            Director of Operations
          </h6>
          <a
            class="d-block"
            data-bigpicture='{"imgSrc": "{% static 'bundle/images/avatars/team-trevor.jpg' %}" }'
            href="#"
          >
            <img
              class="img-fluid"
              src="{% static 'bundle/images/avatars/team-trevor-alt.png' %}"
              alt="..."
              height="641"
              width="526"
            />
          </a>
        </aside>
      </div>
    </div>
  </div>
</section>

<!-- TEAM BIO - JOEY -->
<section class="bg-gradient-black-dark" id="joey-spark" name="joey-sparks">
  <div class="container">
    <div class="row justify-content-between">
      <div
        class="col-12 col-md-5 position-md-sticky d-flex align-items-center vh-md-90"
        style="top: 0"
      >
        <!-- Sidebar -->
        <aside class="py-8 py-md-10" data-aos="fade-right">
          <h2 class="section-header mb-0 text-white">Joseph Sparks</h2>
          <!-- Text -->
          <h6 class="fs-5 text-uppercase mb-4 text-muted">
            Mental Health Director
          </h6>
          <a
            class="d-block"
            data-bigpicture='{"imgSrc": "{% static 'bundle/images/avatars/team-joey.jpg' %}"}'
            href="#"
          >
            <img
              class="img-fluid"
              src="{% static 'bundle/images/avatars/team-joey-alt.png' %}"
              alt="..."
              height="641"
              width="526"
            />
          </a>
        </aside>
      </div>
      <div class="col-12 col-md-6" data-aos="fade-left" data-aos-delay="50">
        <!-- Images -->
        <section class="pb-8 pt-md-12 pb-md-10">
          <!-- Text -->
          <p class="fs-4 text-muted mb-6">
            Joseph Sparks is an Associate Clinical Social Worker specializing in
            individuals of all ages and fathers of children with substance use
            disorder. Like Brandon, Joseph grew up in Southern California and
            the two of them have been best friends since they were 10 years old.
            They eventually would go to middle school and high school together
            where they helped Agoura High win the school's first water polo CIF
            championship.
          </p>
          <p class="fs-4 text-muted mb-6">
            Upon graduating high school, Joseph, like many of the students,
            struggled with substance abuse. With proper care, treatment, and
            courage, Joseph is now approaching 10 years clean and sober. Joseph
            then went on to receive his Bachelor of Arts degree in Psychology
            from California State University Channel Islands and received his
            Masters of Social Work degree from the University of Colorado
            Denver.
          </p>
          <p class="fs-lg text-muted mb-6">
            Joseph has the experience and a passion for working with individuals
            struggling with substance use, anxiety, and depression. Not only
            does he bring knowledge on everything mental health, but he brings
            the first-hand experience to
            <span class="text-white zap-02 text-nowrap"
              >The Walk Up Effect</span
            >
            that brings an insight on how to correctly approach struggling
            individuals.
          </p>
          <p class="fs-lg text-muted mb-6">
            Over the past decade, Joseph has worked in different levels of care
            for addiction and mental health treatment. Joseph utilizes
            evidence-based practices including Cognitive Behavioral Therapy
            (CBT), Dialectical Behavioral Therapy (DBT), Solution Focused Brief
            Therapy (SFBT), and Motivational Interviewing (MI), to help his
            clients process emotions, identify their strengths, and overcome
            challenges.
          </p>
          <p class="fs-lg text-muted mb-6">
            For more information about Joseph's experience, practice, and
            treatments, visit:
            <a
              class="fw-bold text-white text-decoration-none"
              href="https://www.josephsparkstherapy.com/"
              target="_blank"
              rel="noreferrer"
            >
              josephsparkstherapy.com
            </a>
          </p>
        </section>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
