<!-- prettier-ignore -->
{% extends "base.html" %}
{% load static i18n %}

{% block title %}Our Mission{% endblock title %}

{% block content %}
<section class="py-10 py-md-12 bg-black bg-pattern-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 text-center" style="max-width: 768px">
        <!-- Heading -->
        <h1
          class="display-2 fw-bold text-white section-header"
          data-aos="fade-up"
          data-aos-delay="50"
        >
          Our <span class="zap-02">Mission & Goals</span>
        </h1>

        <!-- Text -->
        <p
          class="lead text-gray-500 mx-auto"
          data-aos="fade-up"
          data-aos-delay="100"
          style="max-width: 600px"
        >
          Find out more about our journey to normalize the conversation behind
          mental health
        </p>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center mt-6 mb-4">
      <nav class="nav justify-content-center my-4">
        <a
          class="badge rounded-pill bg-secondary-soft me-4 pill-border active"
          href="#"
          data-bs-toggle="pill"
          data-filter="#mission"
          data-bs-target="#mission-goals"
          style="width: 125px"
        >
          <span class="h6 text-uppercase">Our Mission</span>
        </a>
        <a
          class="badge rounded-pill bg-secondary-soft pill-border"
          href="#"
          data-bs-toggle="pill"
          data-filter="#goals"
          data-bs-target="#mission-goals"
          style="width: 125px"
        >
          <span class="h6 text-uppercase">Our Goals</span>
        </a>
      </nav>
    </div>

    <div class="position-relative px-2 py-3 rounded-0 overflow-hidden">
      <!-- Background  bg-offset -->
      <div
        class="position-absolute top-0 end-0 bottom-0 start-0 bg-gradient-multicolor"
      ></div>
      <div class="col-12">
        <div
          class="row"
          id="mission-goals"
          data-isotope='{"layoutMode": "fitRows", "filter": "#mission"}'
        >
          <!-- Our Mission -->
          <div class="col-12" id="mission">
            <div
              class="card rounded-lg shadow-lg mb-6 mb-md-0 rounded-0"
              style="min-height: 400px"
            >
              <!-- Body -->
              <div class="card-body py-6 py-md-8">
                <div class="row justify-content-center gx-0 my-4">
                  <div class="col-10 text-center">
                    <h2 class="text-black font-weight-bold pb-4">
                      We are a <span class="zap-07">do-good</span> company.
                    </h2>
                    <p class="text-muted mb-4 mb-md-2 font-300">
                      Walk Ups mission is simple... to bring hope, joy, and courage to those who need it.
                      Everyone has struggles and everyone has obstacles they are trying to overcome.
                      We firmly believe that sometimes someone may just need to hear the right message to feel
                      comfortable asking for help or to see the importance of being the support someone may be seeking.
                    </p>
                    <p class="text-muted mb-2 mb-md-0 font-300">
                      We were founded with the goal to normalize and spark the
                      conversation behind mental health and encourage people to
                      talk and share their struggles and story with others. We
                      want everyone to feel comfortable asking for support. We
                      hope to make an impact on every staff member, student, and
                      parent that takes part in our program. It is important to
                      us that every student we come into contact with feels
                      inspired to support others, has the strength to get
                      through another day, and wants to be the change we need in
                      the world.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Our Goals -->
          <div class="col-12" id="goals">
            <div
              class="card rounded-lg shadow-lg mb-6 mb-md-0 rounded-0"
              style="z-index: 1; min-height: 400px"
            >
              <div class="card-body py-6 py-md-8">
                <div class="row justify-content-center gx-0 my-4">
                  <div class="col-10 text-center">
                    <h2 class="text-black font-weight-bold pb-4">
                      Our primary goal: <span class="zap-03">Impact</span>.
                    </h2>
                    <p class="text-muted mb-2 mb-md-0 font-300">
                      We hope to make an impact on every individual that takes part in our program.
                      It is important to us that every group we come into contact with feels inspired to help others,
                      has the strength to get through another day, and wants to be the change we need in the world.
                    </p>
                    <p class="text-muted my-2 mb-md-0 font-300">
                      Our goal is to change the perception of the way people view mental health. We want those who
                      are struggling to feel comfortable asking for help and sharing their story. And we want the
                      others to be able to notice the signs of those struggling with mental health and be courageous
                      and willing to be the support they may need.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-self-left pt-12">
      <h1 class="text-white">Our focus is to...</h1>
    </div>
    <div class="row d-flex justify-content-center pb-10">
      <div class="col-12 col-sm-6 col-lg-3 mt-7">
        <!-- Card -->
        <div class="card h-100 bg-dark rounded-3 shadow-multicolor-1">
          <div class="position-relative top-0">
            <div class="card-body p-5 pb-0 my-auto">
              <!-- Image -->
              <div
                class="img-fluid w-50 svg-shim mx-auto p-1"
                style="max-width: 120px"
              >
                {% include "partials/icons/ui-icons/events.svg" %}
              </div>
            </div>
          </div>
          <div class="card-body text-center p-2 mt-2">
            <p class="text-white mb-4 font-300">
              Inspire individuals to be courageous and Walk Up to someone who
              appears to be struggling.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mt-7">
        <!-- Card -->
        <div class="card h-100 bg-dark rounded-3">
          <div class="position-relative top-0">
            <div class="card-body p-5 pb-0 my-auto">
              <!-- Image -->
              <div
                class="img-fluid w-50 svg-shim mx-auto"
                style="max-width: 120px"
              >
                {% include "partials/icons/ui-icons/chat.svg" %}
              </div>
            </div>
          </div>
          <div class="card-body text-center p-2 mt-2">
            <p class="text-white mb-4 font-300">
              Educate students on mental health. Teach the signs, symptoms,
              causes, and ways to cope with mental health struggles.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mt-7">
        <!-- Card -->
        <div class="card h-100 bg-dark rounded-3">
          <div class="position-relative top-0">
            <div class="card-body p-5 pb-0 my-auto">
              <!-- Image -->
              <div
                class="img-fluid w-50 svg-shim mx-auto"
                style="max-width: 120px"
              >
                {% include "partials/icons/ui-icons/insights.svg" %}
              </div>
            </div>
          </div>
          <div class="card-body text-center p-2 mt-2">
            <p class="text-white mb-4 font-300">
              Reach the students who are afraid to ask for help and provide them
              with the strength, love and support they need to get through each
              day.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mt-7">
        <!-- Card -->
        <div class="card h-100 bg-dark rounded-3">
          <div class="position-relative top-0">
            <div class="card-body p-5 pb-0 my-auto">
              <!-- Image -->
              <div
                class="img-fluid w-50 svg-shim mx-auto"
                style="max-width: 120px"
              >
                {% include "partials/icons/ui-icons/speaker.svg" %}
              </div>
            </div>
          </div>
          <div class="card-body text-center p-2 mt-2">
            <p class="text-white mb-4 font-300">
              Provide communities with motivation and inspiration by bringing
              guest speakers to talk about mental health, hope, and healing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
