{% load static i18n compress %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 text-center">
      <h2 class="display-3 section-header fw-bold text-white">Our Team</h2>
      <!-- Text -->
      <p class="lead text-muted mb-4 mb-md-6">
        Mission Driven. Story Tellers.
        <span class="text-white zap-02">Hope Providers.</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- Card -->
      <div class="card card-row shadow-light-lg mb-6">
        <div class="row gx-0" aria-hidden="false">
          <div class="col-12 col-md-6">
            <!-- Slider -->
            <!-- prettier-ignore -->
            <div
                class="card-img-slider"
                data-flickity='{"fade": true, "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'
              >
                <a
                  class="card-img-start w-100 bg-cover"
                  style="
                    background-image: url({% static 'images/avatars/team-brando.jpg' %});
                  "
                  href="{% url 'our-team' %}"
                >
                  <!-- Image (placeholder) -->
                  <img
                    src="{% static 'images/avatars/team-brando.jpg' %}"
                    alt="..."
                    class="img-fluid invisible"
                  />
                </a>
                <a
                  class="card-img-start w-100 bg-cover"
                  style="
                    background-image: url({% static 'images/avatars/team-joey.jpg' %});
                  "
                  href="{% url 'our-team' %}"
                >
                  <!-- Image (placeholder) -->
                  <img
                    src="{% static 'images/avatars/team-joey.jpg' %}"
                    alt="..."
                    class="img-fluid invisible"
                    aria-hidden="true"
                  />
                </a>

                <a
                  class="card-img-start w-100 bg-cover"
                  style="
                    background-image: url({% static 'images/avatars/team-trevor.jpg' %});
                  "
                  href="{% url 'our-team' %}"
                >
                  <!-- Image (placeholder) -->
                  <img
                    src="{% static 'images/avatars/team-trevor.jpg' %}"
                    alt="..."
                    class="img-fluid invisible"
                    aria-hidden="true"
                  />
                </a>
              </div>
            <!-- Shape -->
            <div
              class="shape shape-end shape-fluid-y svg-shim text-white d-none d-md-block"
            >
              {% include 'partials/shapes/curves/curve-4.svg' %}
            </div>
          </div>
          <div class="col-12 col-md-6 position-md-static">
            <!-- Slider -->
            <div
              class="position-md-static"
              data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}'
              id="blogSlider"
            >
              <div class="w-100">
                <!-- Body -->
                <div class="card-body">
                  <blockquote class="blockquote text-center mb-0">
                    <div class="row justify-content-center mb-4 mb-md-6">
                      <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                        <h3>Brandon Gross</h3>
                      </div>
                      <!-- Footer -->
                      <footer class="blockquote-footer text-gray-700">
                        <span class="h6 text-uppercase">Founder and CEO</span>
                      </footer>
                    </div>
                    <div class="col-12">
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-danger"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            Experience working with students:
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            10 years
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-danger"
                        >
                          <span>?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">High school attended:</h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            Agoura High School
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-danger"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            Points missed on drivers license test:
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            3 - <em>"I was driving too fast in the rain"</em>
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-danger"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            Sports played in high school:
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            Water polo and swimming
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-danger"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            On a scale from 1-10, 10 being the worst, how bad
                            was your "senioritis":
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            4 or 5 -
                            <em>"I was trying hard to get a scholarship"</em>
                          </p>
                        </div>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>

              <div class="w-100">
                <!-- Body -->
                <div class="card-body">
                  <blockquote class="blockquote text-center mb-0">
                    <div class="row justify-content-center mb-5 mb-md-7">
                      <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                        <h3>Joseph Sparks</h3>
                      </div>
                      <!-- Footer -->
                      <footer class="blockquote-footer text-gray-700">
                        <span class="h6 text-uppercase"
                          >Mental Health Director</span
                        >
                      </footer>
                    </div>
                    <!-- Text -->
                    <div class="col-12">
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-warning"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            Experience working with students:
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            8 years
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-warning"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">High school attended:</h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            Agoura High School
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-warning"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            Points missed on drivers license test:
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            7 - <em>"It probably should have been more."</em>
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-warning"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            Sports played in high school:
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            Water polo and swimming
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-warning"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            On a scale from 1-10, 10 being the worst, how bad
                            was your "senioritis":
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            <em>"I had 78 unexcused absences so I'd say 10"</em>
                          </p>
                        </div>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>

              <div class="w-100">
                <!-- Body -->
                <div class="card-body">
                  <blockquote class="blockquote text-center mb-0">
                    <div class="row justify-content-center mb-5 mb-md-7">
                      <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                        <h3>Trevor Price</h3>
                      </div>
                      <!-- Footer -->
                      <footer class="blockquote-footer text-gray-700">
                        <span class="h6 text-uppercase"
                          >Director of Operations</span
                        >
                      </footer>
                    </div>

                    <!-- Text -->
                    <div class="col-12">
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-info"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            Experience working with students:
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            8 years
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-info"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">High school attended:</h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            Kingsburg High School
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-info"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            Points missed on drivers license test:
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            1 or 2 - <em>"I was acing it until the end."</em>
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-info"
                        >
                          <span class="text-white">?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            Sports played in high school:
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            Football and Basketball 
                          </p>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div
                          class="badge badge-sm badge-rounded-circle bg-info"
                        >
                          <span class="text-white"> ?</span>
                        </div>
                        <div class="ms-4">
                          <h4 class="mb-0 text-start">
                            On a scale from 1-10, 10 being the worst, how bad
                            was your "senioritis":
                          </h4>
                          <p class="text-start text-gray-700 mb-2 mb-md-4">
                            3 or 4 -
                            <em
                              >"I was trying to get into college but got worse
                              towards the end of the year"</em
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / .row -->
      </div>
    </div>
  </div>
</div>
