<div class="container">
  <div class="row justify-content-center">
    <div class="text-center">
      <!-- Heading -->
      <h2 class="display-3 section-header fw-bold text-white" id="our-why">
        Our Why
      </h2>
      <!-- Text -->
      <p class="lead text-muted mb-4 mb-md-6">
        Take our quiz to <span class="text-white zap-04">learn more</span> about mental health and its impact
      </p>

      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-xl-4">
          <!-- CARD 1 -->
          <div
            class="card rounded-lg shadow-lg bg-black my-6"
            style="z-index: 1"
            data-aos="fade-up"
          >
            <!-- Body -->
            <div class="rotate-container">
              <input
                type="checkbox"
                id="card1"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <!-- Card Front -->
                <div class="card-front">
                  <div class="card-body">
                    <div class="row justify-content-center text-white">
                      <div class="col-12">
                        <!-- Icon -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3"
                            >Question #1</span
                          >
                        </span>
                        <p class="text-center mb-6 mb-md-8 mx-2">
                          What percent of 12-18 year olds suffer from mental
                          illness?
                        </p>
                        <div class="row">
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>A</span>
                            </div>

                            <span>10%</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>B</span>
                            </div>

                            <span>20%</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>C</span>
                            </div>

                            <span>30%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card1"
                  >
                    <i class="fe fe-eye"></i>&nbsp; Answer
                  </label>
                </div>

                <!-- Card Back -->
                <div class="card-back">
                  <div class="card-body">
                    <div class="row text-white">
                      <div class="col-12">
                        <!-- Badge -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3">Answer</span>
                        </span>
                        <p class="text-center mb-6 mb-md-8 mx-2">
                          Twenty percent of 12-18 year olds suffer from some
                          form of mental illness.
                        </p>
                        <div class="row">
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>A</span>
                            </div>

                            <span>10%</span>
                          </div>
                          <!-- correct answer -->
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <span class="zap-03">
                              <div
                                class="badge badge-lg badge-rounded-circle bg-info"
                              >
                                <span>B</span>
                              </div>
                              <span class="text-info">20%</span>
                            </span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>C</span>
                            </div>

                            <span>30%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card1"
                  >
                    <i class="fe fe-arrow-left"></i>&nbsp; Return
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
          <!-- CARD 2 -->
          <div
            class="card rounded-lg shadow-lg bg-black my-6"
            style="z-index: 1"
            data-aos="fade-up"
          >
            <!-- Body -->
            <div class="rotate-container">
              <input
                type="checkbox"
                id="card2"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <!-- Card Front -->
                <div class="card-front">
                  <div class="card-body">
                    <div class="row justify-content-center text-white">
                      <div class="col-12">
                        <!-- Badge -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3"
                            >Question #2</span
                          >
                        </span>
                        <p class="text-center mb-6 mb-md-8 mx-2">
                          What is the average age of the first incident of
                          self-harm?
                        </p>
                        <div class="row">
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>A</span>
                            </div>
                            <span>13</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>B</span>
                            </div>
                            <span>15</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>C</span>
                            </div>
                            <span>17</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card2"
                  >
                    <i class="fe fe-eye"></i>&nbsp; Answer
                  </label>
                </div>

                <!-- Card Back -->
                <div class="card-back">
                  <div class="card-body">
                    <div class="row text-white">
                      <div class="col-12">
                        <!-- Badge -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3">Answer</span>
                        </span>
                        <p class="text-center mb-6 mb-md-8 mx-2">
                          The average age of the first incident of self-harm is
                          13 years old.
                        </p>
                        <div class="row">
                          <!-- correct answer -->
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <span class="zap-07">
                              <div
                                class="badge badge-lg badge-rounded-circle bg-info"
                              >
                                <span>A</span>
                              </div>
                              <span class="text-info">13</span>
                            </span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>B</span>
                            </div>
                            <span>15</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>C</span>
                            </div>
                            <span>17</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card2"
                  >
                    <i class="fe fe-arrow-left"></i>&nbsp; Return
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
          <!-- CARD 3 -->
          <div
            class="card rounded-lg shadow-lg bg-black my-6"
            style="z-index: 1"
            data-aos="fade-up"
          >
            <!-- Body -->
            <div class="rotate-container">
              <input
                type="checkbox"
                id="card3"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <!-- Card Front -->
                <div class="card-front">
                  <div class="card-body">
                    <div class="row justify-content-center text-white">
                      <div class="col-12">
                        <!-- Icon -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3"
                            >Question #3</span
                          >
                        </span>
                        <p class="text-center mb-6 mb-md-8 mx-2">
                          What percent of high school students have considered
                          suicide?
                        </p>
                        <div class="row">
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>A</span>
                            </div>
                            <span>11%</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>B</span>
                            </div>
                            <span>14%</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>C</span>
                            </div>
                            <span>17%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card3"
                  >
                    <i class="fe fe-eye"></i>&nbsp; Answer
                  </label>
                </div>

                <!-- Card Back -->
                <div class="card-back">
                  <div class="card-body">
                    <div class="row text-white">
                      <div class="col-12">
                        <!-- Badge -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3">Answer</span>
                        </span>
                        <p class="text-center mb-6 mb-md-8 mx-2">
                          Seventeen percent of high school students seriously
                          consider suicide.
                        </p>
                        <div class="row">
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>A</span>
                            </div>
                            <span>11%</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>B</span>
                            </div>
                            <span>14%</span>
                          </div>
                          <!-- correct answer -->
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <span class="zap-03">
                              <div
                                class="badge badge-lg badge-rounded-circle bg-info"
                              >
                                <span>C</span>
                              </div>
                              <span class="text-info">17%</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card3"
                  >
                    <i class="fe fe-arrow-left"></i>&nbsp; Return
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
          <!-- CARD 4 -->
          <div
            class="card rounded-lg shadow-lg bg-black my-6"
            style="z-index: 1"
            data-aos="fade-up"
          >
            <!-- Body -->
            <div class="rotate-container">
              <input
                type="checkbox"
                id="card4"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <!-- Card Front -->
                <div class="card-front">
                  <div class="card-body">
                    <div class="row justify-content-center text-white">
                      <div class="col-12">
                        <!-- Icon -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3"
                            >Question #4</span
                          >
                        </span>
                        <p class="text-center mb-6 mb-md-8 mx-2">
                          Suicide ranks where in the leading cause of death
                          amongst 15-24 yr/olds?
                        </p>
                        <div class="row">
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>A</span>
                            </div>
                            <span>2nd</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>B</span>
                            </div>
                            <span>4th</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>C</span>
                            </div>
                            <span>8th</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card4"
                  >
                    <i class="fe fe-eye"></i>&nbsp; Answer
                  </label>
                </div>

                <!-- Card Back -->
                <div class="card-back">
                  <div class="card-body">
                    <div class="row text-white">
                      <div class="col-12">
                        <!-- Badge -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3">Answer</span>
                        </span>
                        <p class="text-center mb-6 mb-md-8 mx-2">
                          Suicide is the 2nd leading case of death amongst 15-24
                          year olds.
                        </p>
                        <div class="row">
                          <!-- correct answer -->
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <span class="zap-04">
                              <div
                                class="badge badge-lg badge-rounded-circle bg-info"
                              >
                                <span>A</span>
                              </div>
                              <span class="text-info">2nd</span>
                            </span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>B</span>
                            </div>
                            <span>4th</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>C</span>
                            </div>
                            <span>8th</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card4"
                  >
                    <i class="fe fe-arrow-left"></i>&nbsp; Return
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
          <!-- CARD 5 -->
          <div
            class="card rounded-lg shadow-lg bg-black my-6"
            style="z-index: 1"
            data-aos="fade-up"
          >
            <!-- Body -->
            <div class="rotate-container">
              <input
                type="checkbox"
                id="card5"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <!-- Card Front -->
                <div class="card-front">
                  <div class="card-body">
                    <div class="row justify-content-center text-white">
                      <div class="col-12">
                        <!-- Icon -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3"
                            >Question #5</span
                          >
                        </span>
                        <p class="text-center mb-6 mb-md-8 mx-2">
                          What percent of people have success with therapy and
                          medication?
                        </p>
                        <div class="row">
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>A</span>
                            </div>
                            <span>30%</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>B</span>
                            </div>
                            <span>50%</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>C</span>
                            </div>
                            <span>80%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card5"
                  >
                    <i class="fe fe-eye"></i>&nbsp; Answer
                  </label>
                </div>

                <!-- Card Back -->
                <div class="card-back">
                  <div class="card-body">
                    <div class="row text-white">
                      <div class="col-12">
                        <!-- Badge -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3">Answer</span>
                        </span>
                        <p class="text-center mb-6 mb-md-8 mx-2">
                          80-90% of people who get treated with medication and
                          therapy are successful.
                        </p>
                        <div class="row">
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>A</span>
                            </div>
                            <span>30%</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>B</span>
                            </div>
                            <span>50%</span>
                          </div>
                          <!-- correct answer -->
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <span class="zap-06">
                              <div
                                class="badge badge-lg badge-rounded-circle bg-info"
                              >
                                <span>C</span>
                              </div>
                              <span class="text-info">80%</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card5"
                  >
                    <i class="fe fe-arrow-left"></i>&nbsp; Return
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
          <!-- CARD 6 -->
          <div
            class="card rounded-lg shadow-lg my-3 bg-black mt-6"
            style="z-index: 1"
            data-aos="fade-up"
          >
            <!-- Body -->
            <div class="rotate-container">
              <input
                type="checkbox"
                id="card6"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <!-- Card Front -->
                <div class="card-front">
                  <div class="card-body">
                    <div class="row justify-content-center text-white">
                      <div class="col-12">
                        <!-- Icon -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3"
                            >Question #6</span
                          >
                        </span>
                        <p class="text-center mb-md-8 mx-2">
                          How much of our youth, in millions, suffer from
                          anxiety or depression?
                        </p>
                        <div class="row">
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>A</span>
                            </div>
                            <span>3.5</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>B</span>
                            </div>
                            <span>5.6</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>C</span>
                            </div>
                            <span>6.3</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card6"
                  >
                    <i class="fe fe-eye"></i>&nbsp; Answer
                  </label>
                </div>

                <!-- Card Back -->
                <div class="card-back">
                  <div class="card-body">
                    <div class="row text-white">
                      <div class="col-12">
                        <!-- Badge -->
                        <span
                          class="badge rounded-pill bg-primary-desat-soft text-white mb-6 mb-md-8"
                        >
                          <span class="h6 text-uppercase px-3">Answer</span>
                        </span>
                        <p class="text-center mb-6 mb-md-8 mx-2">
                          6.3 million young people aged 3-17 suffer from anxiety
                          or depression.
                        </p>
                        <div class="row">
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>A</span>
                            </div>
                            <span>3.5</span>
                          </div>
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <div
                              class="badge badge-lg badge-rounded-circle bg-primary-desat me-2"
                            >
                              <span>B</span>
                            </div>
                            <span>5.6</span>
                          </div>
                          <!-- correct answer -->
                          <div
                            class="col-sm d-flex p-sm-2 justify-content-center pb-2"
                          >
                            <span class="zap-02">
                              <div
                                class="badge badge-lg badge-rounded-circle bg-info me-2"
                              >
                                <span>C</span>
                              </div>
                              <span class="text-info">6.3</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <label
                    class="card-btn btn w-100 btn-lg btn-primary-desat"
                    for="card6"
                  >
                    <i class="fe fe-arrow-left"></i>&nbsp; Return
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
