<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 text-center">
        <h2 class="display-3 section-header fw-bold text-white">
          How to Walk Up
        </h2>
        <p class="lead text-muted mb-9">
          Take these <span class="text-white zap-06">Walk Up Steps </span>to
          begin the process of elevating yourself or someone else.
        </p>
      </div>
    </div>

    <div class="row align-items-center justify-content-between">
      <!-- Heal Others Text -->
      <div class="col-12 col-md-6 col-lg-5">
        <h2 class="display-4 fw-bold text-white mb-3 mb-md-6">Heal others</h2>
        <p class="text-muted lead mb-6">
          <span class="text-white fw-bold">Your role.</span> Your job is simple.
          Walk Up, talk, and learn. Remember… they’re waiting for you.
        </p>

        <p class="text-muted lead mb-7 mb-md-0">
          <span class="text-white fw-bold">Result.</span> When you Walk Up to
          someone with the two C’s, Courage and Care, you will have left a
          lasting impression that can provide an individual with much needed
          hope and strength.
        </p>
      </div>
      <!-- / End Text -->

      <div class="col-12 col-md-6">
        <div
          class="position-relative vw-md-50 pt-7 ps-7 ps-md-9 overflow-hidden"
          style="max-width: 800px"
        >
          <!-- Background -->
          <div
            class="position-absolute top-0 end-0 bottom-0 start-0 bg-offset bg-gradient-multicolor"
          ></div>

          <!-- Heal Others Card -->
          <div class="col-12">
            <div class="card rounded-0 mb-6 mb-md-0">
              <div class="card-body py-6 py-md-8">
                <div class="row row-grid gx-0 m-2">
                  <!-- Recognize -->
                  <div
                    class="col-12 col-lg-4 col-md-6 mb-4 mb-md-9 text-center"
                  >
                    <div class="row mb-5">
                      <div class="col"></div>
                      <div class="col-auto">
                        <a
                          href="#"
                          class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1"
                        >
                          <span>1</span>
                        </a>
                      </div>
                      <div class="col">
                        <hr class="d-none d-lg-block" />
                      </div>
                    </div>
                    <div class="col px-2">
                      <h3
                        class="fs-4 section-header text-uppercase text-truncate"
                      >
                        Recognize
                      </h3>
                      <p class="text-gray-700 mb-6 mb-md-0">
                        Notice the signs and see the struggle.
                      </p>
                    </div>
                  </div>
                  <!-- Communicate -->
                  <div
                    class="col-12 col-lg-4 col-md-6 mb-4 mb-md-9 text-center"
                  >
                    <div class="row mb-5">
                      <div class="col">
                        <hr class="d-none d-lg-block" />
                      </div>
                      <div class="col-auto">
                        <a
                          href="#"
                          class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1"
                        >
                          <span>2</span>
                        </a>
                      </div>
                      <div class="col">
                        <hr class="d-none d-lg-block" />
                      </div>
                    </div>
                    <div class="col px-2">
                      <h3
                        class="fs-4 section-header text-uppercase text-truncate"
                      >
                        Communicate
                      </h3>
                      <p class="text-gray-700 mb-6 mb-md-0">
                        Let them feel "seen". Talk to them or give a smile.
                      </p>
                    </div>
                  </div>
                  <!-- Learn -->
                  <div
                    class="col-12 col-lg-4 col-md-6 mb-4 mb-md-9 text-center"
                  >
                    <div class="row mb-5">
                      <div class="col">
                        <hr class="d-none d-lg-block" />
                      </div>
                      <div class="col-auto">
                        <a
                          href="#"
                          class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1"
                        >
                          <span>3</span>
                        </a>
                      </div>
                      <div class="col"></div>
                    </div>
                    <div class="col px-2">
                      <h3 class="fs-4 section-header text-uppercase">Learn</h3>
                      <p class="text-gray-700 mb-6 mb-md-0">
                        What's their story? What can you do to support them?
                      </p>
                    </div>
                  </div>

                  <!-- Imagine -->
                  <div class="col-12 col-lg-4 col-md-6 mb-4 text-center">
                    <div class="row mb-5">
                      <div class="col"></div>
                      <div class="col-auto">
                        <a
                          href="#"
                          class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1"
                        >
                          <span>4</span>
                        </a>
                      </div>
                      <div class="col">
                        <hr class="d-none d-lg-block" />
                      </div>
                    </div>
                    <div class="col px-2">
                      <h3 class="fs-4 section-header text-uppercase">
                        Imagine
                      </h3>
                      <p class="text-gray-700 mb-6 mb-md-0">
                        What would you want if roles were reversed?
                      </p>
                    </div>
                  </div>
                  <!-- Comfort -->
                  <div class="col-12 col-lg-4 col-md-6 mb-4 text-center">
                    <div class="row mb-5">
                      <div class="col">
                        <hr class="d-none d-lg-block" />
                      </div>
                      <div class="col-auto">
                        <a
                          href="#"
                          class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1"
                        >
                          <span>5</span>
                        </a>
                      </div>
                      <div class="col">
                        <hr class="d-none d-lg-block" />
                      </div>
                    </div>
                    <div class="col px-2">
                      <h3 class="fs-4 section-header text-uppercase">
                        Comfort
                      </h3>
                      <p class="text-gray-700 mb-6 mb-md-0 rg-text">
                        Make sure they feel a sense of hope by the time you
                        leave.
                      </p>
                    </div>
                  </div>
                  <!-- Follow Up -->
                  <div class="col-12 col-lg-4 col-md-6 mb-4 text-center">
                    <div class="row mb-5">
                      <div class="col">
                        <hr class="d-none d-lg-block" />
                      </div>
                      <div class="col-auto">
                        <a
                          href="#"
                          class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1"
                        >
                          <span>6</span>
                        </a>
                      </div>
                      <div class="col"></div>
                    </div>
                    <div class="col px-2">
                      <h3
                        class="fs-4 section-header text-uppercase text-truncate"
                      >
                        Follow Up
                      </h3>
                      <p class="text-gray-700 mb-6 mb-md-0">
                        Make an effort for you to see them again. Provide hope.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / End Card -->
        </div>
      </div>
    </div>
  </div>
