{% load static i18n %}

<nav
  class="navbar navbar-expand-lg navbar-dark navbar-togglable fixed-top"
>
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static "images/brand.svg" %}" class="navbar-brand-img"
      alt="..." height="25" width="180" />
    </a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}"> Home </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarLandings"
            data-bs-toggle="dropdown"
            href="#"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Take a Look
          </a>
          <div
            class="dropdown-menu dropdown-menu-sm"
            aria-labelledby="navbarDocumentation"
          >
            <div class="list-group list-group-flush">
              <a class="list-group-item" href="{% url 'mission' %}">
                <!-- Icon -->
                <div class="icon icon-sm">
                  {% include "partials/icons/ui-icons/space-ship.svg" %}
                </div>
                <div class="ms-4">
                  <!-- Text -->
                  <p class="fs-sm text-gray-700 mb-0 font-300"> Our Mission </p>
                </div>
              </a>
              <a class="list-group-item" href="{% url 'our-team' %}">
                <!-- Icon -->
                <div class="icon icon-sm">
                  {% include "partials/icons/ui-icons/team.svg" %}
                </div>

                <div class="ms-4">
                  <!-- Text -->
                  <p class="fs-sm text-gray-700 mb-0 font-300">Meet the Team</p>
                </div>
              </a>
              <a class="list-group-item" href="{% url 'contact-us' %}">
                <!-- Icon -->
                <div class="icon icon-sm">
                  {% include "partials/icons/ui-icons/contact.svg" %}
                </div>
                <div class="ms-4">
                  <!-- Text -->
                  <p class="fs-sm text-gray-700 mb-0 font-300">Contact Us</p>
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

{#<nav class="navbar navbar-expand-md navbar-dark bg-dark">#}
{#        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#          <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <a class="navbar-brand" href="{% url 'home' %}">The Walk Up Effect</a>#}
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#          <ul class="navbar-nav mr-auto">#}
{#            <li class="nav-item active">#}
{#              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="{% url 'about' %}">About</a>#}
{#            </li>#}
{#            {% if request.user.is_authenticated %}#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>#}
{#              </li>#}
{#            {% else %}#}
{#              <li class="nav-item">#}
{#                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>#}
{#              </li>#}
{#            {% endif %}#}
{#          </ul>#}
{#        </div>#}
{#      </nav>#}
